name: Daily Mensa Script

on:
  schedule:
    - cron: '0 4 * * *' # Refreh time

jobs:
  update-rates:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        env:
          user: ${{ secrets.DB_USER }}
          password: ${{ secrets.DB_PASSWORD }}
          host: ${{ secrets.DB_HOST }}
          port: ${{ secrets.DB_PORT }}
          dbname: ${{ secrets.DB_NAME }}
        run: python Mensa_db_main.py
