name: Daily Mensa Script

on:
    workflow_dispatch:     
    schedule:
      - cron: '0 8 * * *'

jobs:
  update-rates:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirementsMensa.txt

      - name: Run script
        env:
          user: ${{ secrets.DB_USER }}
          password: ${{ secrets.DB_PASSWORD }}
          host: ${{ secrets.DB_HOST }}
          port: ${{ secrets.DB_PORT }}
          database: ${{ secrets.DB_NAME }}
        run: python Mensa_db_main.py
